.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #093568;
    width: 280px;
    height: 280px;
    margin-right: 70px;
    border-radius: 12px;
    box-shadow: 10px 10px 0px #FFFFFF;
}

.card-project.-blue{
    background-color: #048ABF;
}

.card-project.-wine{
    background-color: #51262F;
}

.card-project .action{
    margin-right: 0;
}