.main-section{
    background-color: #00A17E;
    height: 720px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #093568;
}

.main-section .main-title{
    margin-bottom: 60px;
}
.main-section.-bgBlack{
    background-color: #000;
    border-bottom: 10px solid #00A17E;
    height: 400px;
}

.main-section.-BGblue{
    background-color: #093568;
    border-bottom: 10px solid #000;
}