
.main-action::before{
    content: "";
    display: inline-block;
    background-color: #00A17E;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.main-action{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}